api/**
bin/**
build/**
.buildpath
composer.lock
composer.phar
dist/**
docs/**
db/connector.s3db
plugins/**
!plugins/.gitkeep
.idea/**
logs/**
!logs/.gitkeep
config/**
!config/.gitkeep
install/db/*
nbproject/**
netbeans/**
.htaccess
.project
.settings/**
tmp/**
vendor/**
*.sublime-project
*.sublime-workspace
sftp-config.json
