api/**
bin/**
build/**
.buildpath
composer.lock
composer.phar
db/*
dist/**
docs/**
install/db/*
logs/*
nbproject/**
netbeans/**
.htaccess
.project
.settings/**
.idea/**
tmp/**
vendor/**
*.sublime-project
*.sublime-workspace
sftp-config.json