api/**
bin/**
build/**
.buildpath
composer.lock
composer.phar
dist/**
docs/**
db/connector.s3db
install/db/*
logs/*
nbproject/**
netbeans/**
.htaccess
.project
.settings/**
.idea/**
tmp/**
vendor/**
*.sublime-project
*.sublime-workspace
sftp-config.json
